// Created By yxc
@import "../../assets/css/px2rem";

.update {
    @at-root {
        &_root {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding-top: px2rem(100);
            z-index: -1;
            background: url("../../assets/imgs/loginBg.png") no-repeat;
            background-size: 100% 100%;
        }

        &_wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &_line1 {
            position: absolute;
            left: 0;
            bottom: px2rem(40);
        }

        &_box {
            position: relative;
            display: flex;
            flex-direction: column;
            width: px2rem(470);
            height: px2rem(415);
            padding-top: px2rem(67);
            border: solid 1px #0393dc;
            font-size: fsPx2rem(14);
            color: #00315a;
        }

        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: px2rem(52);
        }

        %input {
            width: px2rem(234);
            height: px2rem(32);
            text-align: center;
        }

        &_input-readOnly {
            @extend %input;
            border: none;
            background-color: transparent;
        }

        &_input {
            @extend %input;
            background-color: #fff;
            border: solid 1px #aaaaaa;

            &:focus {
                border-color: #0393dc;
            }
        }

        &_title {
            width: px2rem(56);
            text-align: center;
            font-weight: bold;
        }

        &_line2 {
            position: absolute;
            right: 0;
            top: px2rem(40);
            transform: rotate(180deg);
        }

        &_msg {
            text-align: center;
            color: #BC0000;
        }

        &_btns {
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
        }

        %btn {
            width: 50%;
            height: px2rem(50);
            font-size: fsPx2rem(16);
            color: #fff;
            border: none;
            cursor: pointer;
        }

        &_btn {

            &-submit {
                @extend %btn;
                background-color: #0393dc;
            }

            &-cancel {
                @extend %btn;
                background-color: #00315a;
            }

            &-disable {
                @extend %btn;
                pointer-events: none;
                background-color: grey;
            }

        }
    }
}