@import "../../../assets/css/px2rem";

.details {
  @at-root {

    #{&}__root {  }

    #{&}__riskBtn {
      position: relative;
      height: px2rem(26);
      padding: 0 px2rem(28) 0 px2rem(14);
      top: px2rem(17);
      margin-left: px2rem(34);
      border-radius: px2rem(2);
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: fsPx2rem(12);
      background-color: #fb9f00;

        &--up, &--down {
            &::after {
                position: absolute;
                top: 50%;
                right: px2rem(14);
                margin-top: -7px;
                content: '\e600';
                font-family: 'iconfont';
            }
        }

        &--down::after {
            transform: rotate(180deg);
        }
    }
  }
}

