// Created By yxc
@import "../../../../assets/css/px2rem";

.warnStaticDimensions {
  @at-root {
    #{&}__root {
      //width: px2rem(242);

      .tab__root {
        height: px2rem(28);
        line-height: px2rem(28);
        color: #fff;
        text-align: center;
        font-size: fsPx2rem(12);
      }

      .tab__item {
        width: calc((100% - 2px) / 3);
        background-color: #cfd5dd;
        transition: all .3s;
        &:not(:last-of-type) {  margin-right: 1px;  }

        #{&}--active, &:hover {  background-color: #0293dc;  }
      }
    }

    #{&}__title {
      height: px2rem(28);
      line-height: px2rem(28);
      color: #666;
      text-align: center;
      font-weight: normal;
      font-size: fsPx2rem(12);
      background-color: #e9ecf3;
    }
  }
}
