// Created By yxc
.selectBox {
    @at-root {
        &_root {
            position: relative;
            display: inline-block;
            user-select: none;
        }

        &_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 140px;
            height: 40px;
            padding: 0 10px;
            cursor: pointer;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #e7eef0;
        }

        &_val {
            font-size: 14px;
            color: #2c405a;
        }

        %arrow {
            color: #31445e;
        }

        &_arrow {
            &-fold {
                @extend %arrow;
                transform: rotate(180deg);
            }

            &-unfold {
                @extend %arrow;
            }
        }

        &_list {
            position: absolute;
            width: 100%;
            padding: 4px 0;
            top: 50px;
            z-index: 101;
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.08);
            border: solid 1px #e7eef0;
        }

        &_item {
            height: 30px;
            line-height: 30px;
            padding-left: 24px;
            font-size: 14px;
            color: #718e9c;
            cursor: pointer;
            transition: all .3s;

            &:hover, &-active {
                color: #0293dc;
            }
        }
    }
}