// Created By yxc
.date {
    @at-root {
        &_root {
            position: relative;
            width: 120px;
            height: 36px;
            border-radius: 2px;
            border: 1px solid #2a7bea;
            color: #4c4c4c;
            font-size: 12px;
            user-select: none;
        }

        &_act {
            // display: flex;
            // justify-content: space-around;
            padding-left: 32px;
        }

        &_current {
            position: relative;
            height: 100%;
            padding: 0 27px 0 10px;
            line-height: 36px;

            em {
                position: absolute;
                width: 17px;
                height: 16px;
                margin-top: -8px;
                top: 50%;
                right: 6px;
                cursor: pointer;
                background: url('../../assets/imgs/calendar.png');
            }
        }

        &_calender {
            position: absolute;
            width: 216px;
            padding: 10px;
            top: 36px;
            z-index: 100;
            box-shadow: 0 0 2px gray;
            border-radius: 2px;
            background-color: #fff;

            ul {
                overflow: hidden;
            }

            li {
                float: left;
                text-align: center;
            }
        }

        &_pre, &_next {
            margin: 0 2px;
            cursor: pointer;
        }

        &_actYear {
            margin: 0 12px;
            cursor: pointer;
        }

        &_actMonth, &_actDay {
            margin: 0 5px;
            cursor: pointer;
        }

        &_clear {
            margin: 0 8px;
            cursor: pointer;
        }

        %item {
            width: 26px;
            height: 26px;
            margin: 1px;
            line-height: 28px;
        }

        &_week {
            @extend %item;
        }

        %active {
            color: #fff;
            font-weight: bold;
            background-color: #ccc;
        }

        %hover {
            cursor: pointer;
            transition: all .3s;

            &:hover {
                @extend %active;
            }
        }

        %disable {
            color: #666;
            cursor: no-drop;
            background-color: #e3e3e3;
        }

        &_day {
            @extend %item;
            @extend %hover;

            &-space {
                @extend %item;
            }

            &-active {
                @extend %item;
                @extend %active;
            }

            &-disable {
                @extend %item;
                @extend %disable
            }
        }

        %month {
            width: 47px;
            line-height: 47px;
            margin: 1px;
        }

        &_month {
            @extend %month;
            @extend %hover;

            &-active {
                @extend %month;
                @extend %active;
            }

            &-disable {
                @extend %month;
                @extend %disable
            }
        }

        %year {
            width: 63.333px;
            line-height: 63.333px;
            margin: 1px;
        }

        &_year {
            @extend %year;
            @extend %hover;

            &-active {
                @extend %year;
                @extend %active;
            }

            &-disable {
                @extend %year;
                @extend %disable
            }
        }
    }
}