// Created By yxc
@import "../../assets/css/px2rem";

.date {
    @at-root {
        &_root {
            position: relative;
            width: px2rem(120);
            height: px2rem(26);
            border-radius: px2rem(2);
            border: px2rem(1) solid #2a7bea;
            color: #4c4c4c;
            font-size: fsPx2rem(14);
            user-select: none;
        }

        &_current {
            position: relative;
            height: 100%;
            padding: 0 px2rem(27) 0 px2rem(10);
            line-height: px2rem(26);

            em {
                position: absolute;
                width: px2rem(17);
                height: px2rem(16);
                margin-top: px2rem(-8);
                top: 50%;
                right: px2rem(6);
                cursor: pointer;
                background: url('../../assets/imgs/calendar.png');
                background-size: cover;
            }
        }

        &_calender {
            position: absolute;
            width: px2rem(216);
            top: px2rem(36);
            z-index: 100;
            box-shadow: 0 0 px2rem(2) gray;
            border-radius: px2rem(2);
            background-color: #fff;

            ul {
                padding: px2rem(10);
                overflow: hidden;
            }

            li {
                float: left;
                text-align: center;
            }
        }

        &_pre, &_next {
            margin: 0 px2rem(2);
            cursor: pointer;
        }

        %ymd {
            width: px2rem(50);
            cursor: pointer;
            border-radius: px2rem(4);
        }

        &_act {
            display: flex;
            line-height: px2rem(18);
            color: #fff;
            justify-content: space-between;
            background-color: #8995A9;

            &Year {
                @extend %ymd;
                margin: 0 px2rem(12);
            }

            &Month, &Day {
                @extend %ymd;
                margin: 0 px2rem(5);
            }

            &-active {
                color: #fff;
                font-weight: bold;
                background-color: #768191;
            }
        }

        &_clear {
            margin: 0 px2rem(8);
            cursor: pointer;
        }

        %item {
            width: px2rem(26);
            height: px2rem(26);
            margin: px2rem(1);
            line-height: px2rem(28);
        }

        &_week {
            @extend %item;
        }

        %active {
            color: #fff;
            font-weight: bold;
            background-color: #0293DD;
        }

        %hover {
            cursor: pointer;
            transition: all .3s;

            &:hover {
                @extend %active;
            }
        }

        %disable {
            color: #666;
            cursor: no-drop;
            background-color: #e3e3e3;
        }

        &_day {
            @extend %item;
            @extend %hover;

            &-space {
                @extend %item;
            }

            &-active {
                @extend %item;
                @extend %active;
            }

            &-disable {
                @extend %item;
                @extend %disable
            }
        }

        %month {
            width: px2rem(47);
            margin: px2rem(1);
            line-height: px2rem(47);
        }

        &_month {
            @extend %month;
            @extend %hover;

            &-active {
                @extend %month;
                @extend %active;
            }

            &-disable {
                @extend %month;
                @extend %disable
            }
        }

        %year {
            width: px2rem(63.333);
            line-height: px2rem(63.333);
            margin: px2rem(1);
        }

        &_year {
            @extend %year;
            @extend %hover;

            &-active {
                @extend %year;
                @extend %active;
            }

            &-disable {
                @extend %year;
                @extend %disable
            }
        }
    }
}